{% extends 'base.html.twig' %}

{% block title %}Edit Fruit{% endblock %}

{% block body %}
    <h1>Edit Fruit</h1>

    {{ include('fruit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fruit_index') }}">back to list</a>

    {{ include('fruit/_delete_form.html.twig') }}
{% endblock %}
